<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>双色球</string>
		<key>key</key>
		<string>shuangseqiu</string>
		<key>code</key>
		<string>F47104</string>
		<key>icon</key>
		<string>lottery_icon_for_shuangseqiu</string>
		<key>enable</key>
		<true/>
		<key>ad</key>
		<string>2元赢取1000万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>时时彩</string>
		<key>key</key>
		<string>shishicai</string>
		<key>code</key>
		<string>T01007</string>
		<key>icon</key>
		<string>lottery_icon_for_shishicai</string>
		<key>enable</key>
		<true/>
		<key>ad</key>
		<string>每天120期中奖机会</string>
	</dict>
	<dict>
		<key>name</key>
		<string>江西11选5</string>
		<key>key</key>
		<string>jiangxi_11xuan5</string>
		<key>code</key>
		<string>T01010</string>
		<key>icon</key>
		<string>lottery_icon_for_jiangxi_11xuan5</string>
		<key>enable</key>
		<true/>
		<key>ad</key>
		<string>每天78次中奖机会</string>
	</dict>
	<dict>
		<key>fixedInformation</key>
		<string>返奖率高达 69%</string>
		<key>name</key>
		<string>竞彩足球</string>
		<key>key</key>
		<string>jingcai_football</string>
		<key>code</key>
		<string>J00001</string>
		<key>icon</key>
		<string>lottery_icon_for_jingcai_football</string>
		<key>enable</key>
		<true/>
		<key>ad</key>
		<string>2串1倍投收益高</string>
	</dict>
	<dict>
		<key>name</key>
		<string>排列三</string>
		<key>key</key>
		<string>pailie3</string>
		<key>code</key>
		<string>T01002</string>
		<key>icon</key>
		<string>lottery_icon_for_pailie3</string>
		<key>enable</key>
		<true/>
		<key>ad</key>
		<string>3位数字赢千元</string>
	</dict>
	<dict>
		<key>name</key>
		<string>排列五</string>
		<key>key</key>
		<string>pailie5</string>
		<key>code</key>
		<string>T01001</string>
		<key>icon</key>
		<string>lottery_icon_for_pailie5</string>
		<key>enable</key>
		<true/>
		<key>ad</key>
		<string>2元赢取10万元</string>
	</dict>
	<dict>
		<key>name</key>
		<string>山东十一运夺金</string>
		<key>key</key>
		<string>shandong_11yun_duojin</string>
		<key>code</key>
		<string>T01012</string>
		<key>icon</key>
		<string>lottery_icon_for_shandong_11yun_duojin</string>
		<key>enable</key>
		<true/>
		<key>ad</key>
		<string>10分钟赢千元</string>
	</dict>
	<dict>
		<key>name</key>
		<string>足彩</string>
		<key>key</key>
		<string>zucai</string>
		<key>code</key>
		<string>T01003</string>
		<key>icon</key>
		<string>lottery_icon_for_zucai</string>
		<key>enable</key>
		<true/>
		<key>ad</key>
		<string>猜胜负赢500万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>七乐彩</string>
		<key>key</key>
		<string>7lecai</string>
		<key>code</key>
		<string>F47102</string>
		<key>icon</key>
		<string>lottery_icon_for_7lecai</string>
		<key>enable</key>
		<true/>
		<key>ad</key>
		<string>最高奖1000万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>22选5</string>
		<key>key</key>
		<string>22xuan5</string>
		<key>code</key>
		<string>T01013</string>
		<key>icon</key>
		<string>lottery_icon_for_22xuan5</string>
		<key>enable</key>
		<true/>
		<key>ad</key>
		<string>最高奖金500万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>大乐透</string>
		<key>key</key>
		<string>daletou</string>
		<key>code</key>
		<string>T01001</string>
		<key>icon</key>
		<string>lottery_icon_for_daletou</string>
		<key>enable</key>
		<true/>
		<key>ad</key>
		<string>3元赢取最高奖1600万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>福彩3D</string>
		<key>key</key>
		<string>fucai_3d</string>
		<key>code</key>
		<string>F47103</string>
		<key>icon</key>
		<string>lottery_icon_for_fucai_3d</string>
		<key>enable</key>
		<true/>
		<key>ad</key>
		<string>2元赢取1000元</string>
	</dict>
	<dict>
		<key>name</key>
		<string>广东11选5</string>
		<key>key</key>
		<string>guangdong_11xuan5</string>
		<key>code</key>
		<string>T01014</string>
		<key>icon</key>
		<string>lottery_icon_for_guangdong_11xuan5</string>
		<key>enable</key>
		<true/>
		<key>ad</key>
		<string>最高奖金1170元</string>
	</dict>
	<dict>
		<key>name</key>
		<string>竞彩篮球</string>
		<key>key</key>
		<string>jingcai_basketball</string>
		<key>code</key>
		<string>J00005</string>
		<key>icon</key>
		<string>lottery_icon_for_jingcai_basketball</string>
		<key>enable</key>
		<true/>
		<key>ad</key>
		<string>玩2串1易中奖</string>
		<key>fixedInformation</key>
		<string>返奖率高达 69%</string>
	</dict>
	<dict>
		<key>name</key>
		<string>七星彩</string>
		<key>key</key>
		<string>7xingcai</string>
		<key>code</key>
		<string>T01009</string>
		<key>icon</key>
		<string>lottery_icon_for_7xingcai</string>
		<key>enable</key>
		<true/>
		<key>ad</key>
		<string>最高奖金500万</string>
	</dict>
</array>
</plist>
